


<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
 <script type="text/javascript">
 
 
 
 var codesite_token = "4121009100e0b06571973fac732d9055";
 
 
 var logged_in_user_email = "jeroen.v.schagen@gmail.com";
 
 </script>
 <title>blueprint.css - 
 waebric -
 
 Google Code</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
 
 <link type="text/css" rel="stylesheet" href="http://www.gstatic.com/codesite/ph/14312546538119903951/css/ph_core.css">
 
 <link type="text/css" rel="stylesheet" href="http://www.gstatic.com/codesite/ph/14312546538119903951/css/ph_detail.css" >
 
 
 <link type="text/css" rel="stylesheet" href="http://www.gstatic.com/codesite/ph/14312546538119903951/css/d_sb_20080522.css" >
 
 
 
<!--[if IE]>
 <link type="text/css" rel="stylesheet" href="http://www.gstatic.com/codesite/ph/14312546538119903951/css/d_ie.css" >
<![endif]-->
</head>
<body class="t4">
 <div id="gaia">
 
 <span>
 
 <b>jeroen.v.schagen@gmail.com</b>
 
 
 | <a href="/u/jeroen.v.schagen/" id="projects-dropdown" onclick="return false;">My favorites</a><img width="14" height="14" class="menuIcon off" id="menuIcon-projects-dropdown" src="http://www.gstatic.com/codesite/ph/images/cleardot.gif"/>
 
 | <a href="/u/jeroen.v.schagen/" onclick="_CS_click('/gb/ph/profile');" title="Profile, Updates, and Settings">Profile</a>
 | <a href="http://www.google.com/accounts/Logout?continue=http%3A%2F%2Fcode.google.com%2Fp%2Fwaebric%2Fsource%2Fbrowse%2Ftrunk%2Fdemos%2Fmisc%2Fblueprint.css" onclick="_CS_click('/gb/ph/signout');">Sign out</a>
 
 </span>

 </div>
 <div class="gbh" style="left: 0pt;"></div>
 <div class="gbh" style="right: 0pt;"></div>
 
 
 <div style="height: 1px"></div>
 <table style="padding:0px; margin: 20px 0px 0px 0px; width:100%" cellpadding="0" cellspacing="0">
 <tr style="height: 58px;">
 <td style="width: 55px; text-align:center;">
 <a href="/p/waebric/">
 
 
 
 <img src="http://www.gstatic.com/codesite/ph/images/defaultlogo.png"
 alt="Project Logo">
 
 
 
 </a>
 </td>
 <td style="padding-left: 0.8em">
 
 <div id="pname" style="margin: 0px 0px -3px 0px">
 <a href="/p/waebric/" style="text-decoration:none; color:#000">waebric</a>
 </div>
 <div id="psum">
 <i><a id="project_summary_link" href="/p/waebric/" style="text-decoration:none; color:#000">Implementations of the Waebric Markup Language</a></i>
 </div>
 
 </td>
 <td style="white-space:nowrap; text-align:right">
 
 <form action="/hosting/search">
 <input size="30" name="q" value="">
 <input type="submit" name="projectsearch" value="Search projects" >
 </form>
 
 </tr>
 </table>


<table id="mt" cellspacing="0" cellpadding="0" width="100%" border="0">
 <tr>
 <th onclick="if (!cancelBubble) _go('/p/waebric/');">
 <div class="tab inactive">
 <div class="round4"></div>
 <div class="round2"></div>
 <div class="round1"></div>
 <div class="box-inner">
 <a onclick="cancelBubble=true;" href="/p/waebric/">Project&nbsp;Home</a>
 </div>
 </div>
 </th><td>&nbsp;&nbsp;</td>
 
 
 
 
 <th onclick="if (!cancelBubble) _go('/p/waebric/downloads/list');">
 <div class="tab inactive">
 <div class="round4"></div>
 <div class="round2"></div>
 <div class="round1"></div>
 <div class="box-inner">
 <a onclick="cancelBubble=true;" href="/p/waebric/downloads/list">Downloads</a>
 </div>
 </div>
 </th><td>&nbsp;&nbsp;</td>
 
 
 
 
 
 <th onclick="if (!cancelBubble) _go('/p/waebric/w/list');">
 <div class="tab inactive">
 <div class="round4"></div>
 <div class="round2"></div>
 <div class="round1"></div>
 <div class="box-inner">
 <a onclick="cancelBubble=true;" href="/p/waebric/w/list">Wiki</a>
 </div>
 </div>
 </th><td>&nbsp;&nbsp;</td>
 
 
 
 
 
 <th onclick="if (!cancelBubble) _go('/p/waebric/issues/list');">
 <div class="tab inactive">
 <div class="round4"></div>
 <div class="round2"></div>
 <div class="round1"></div>
 <div class="box-inner">
 <a onclick="cancelBubble=true;" href="/p/waebric/issues/list">Issues</a>
 </div>
 </div>
 </th><td>&nbsp;&nbsp;</td>
 
 
 
 
 
 <th onclick="if (!cancelBubble) _go('/p/waebric/source/checkout');">
 <div class="tab active">
 <div class="round4"></div>
 <div class="round2"></div>
 <div class="round1"></div>
 <div class="box-inner">
 <a onclick="cancelBubble=true;" href="/p/waebric/source/checkout">Source</a>
 </div>
 </div>
 </th><td>&nbsp;&nbsp;</td>
 
 
 <td width="100%">&nbsp;</td>
 </tr>
</table>
<table cellspacing="0" cellpadding="0" width="100%" align="center" border="0" class="st">
 <tr>
 
 
 
 
 
 
 <td>
 
<div class="st2">
 <div class="isf">
 <span class="inst1"><a href="/p/waebric/source/checkout">Checkout</a></span> |
 <span class="inst2"><a href="/p/waebric/source/browse/">Browse</a></span> |
 <span class="inst3"><a href="/p/waebric/source/list">Changes</a></span> |
 <form action="http://www.google.com/codesearch" method="get" style="display:inline"
 onsubmit="document.getElementById('codesearchq').value = document.getElementById('origq').value + ' package:http://waebric\\.googlecode\\.com'">
 <input type="hidden" name="q" id="codesearchq" value="">
 <input maxlength="2048" size="35" id="origq" name="origq" value="" title="Google Code Search" style="font-size:92%">&nbsp;<input type="submit" value="Search Trunk" name="btnG" style="font-size:92%">
 
  |
 <a href="/p/waebric/issues/entry?show=review&former=sourcelist">Request code review</a>
 
 
 </form>
 </div>
</div>


 </td>
 
 
 
 
 
 <td height="4" align="right" valign="top" class="bevel-right">
 <div class="round4"></div>
 <div class="round2"></div>
 <div class="round1"></div>
 </td>
 </tr>
</table>
<script type="text/javascript">
 var cancelBubble = false;
 function _go(url) { document.location = url; }
</script>

<div id="maincol"
 
>

 
<!-- IE -->



<div class="expand">


<style type="text/css">
 #file_flipper { display: inline; float: right; white-space: nowrap; }
 #file_flipper.hidden { display: none; }
 #file_flipper .pagelink { color: #0000CC; text-decoration: underline; }
 #file_flipper #visiblefiles { padding-left: 0.5em; padding-right: 0.5em; }
</style>
<div id="nav_and_rev" class="heading">
 <div class="round4"></div>
 <div class="round2"></div>
 <div class="round1"></div>
 <div class="box-inner">
 <div class="pagination" style="margin-left: 2em">
 <table cellpadding="0" cellspacing="0" class="flipper">
 <tbody>
 <tr>
 
 <td><b>r626</b></td>
 
 </tr>
 </tbody>
 </table>
 </div>
 
 <div class="" style="vertical-align: top">
 <div class="src_crumbs src_nav">
 <strong class="src_nav">Source path:&nbsp;</strong>
 <span id="crumb_root">
 
 <a href="/p/waebric/source/browse/">svn</a>/&nbsp;</span>
 <span id="crumb_links" class="ifClosed"><a href="/p/waebric/source/browse/trunk/">trunk</a><span class="sp">/&nbsp;</span><a href="/p/waebric/source/browse/trunk/demos/">demos</a><span class="sp">/&nbsp;</span><a href="/p/waebric/source/browse/trunk/demos/misc/">misc</a><span class="sp">/&nbsp;</span>blueprint.css</span>
 
 
 </div>
 
 </div>
 <div style="clear:both"></div>
 </div>
</div>

<style type="text/css">
 
  tr.inline_comment {
 background: #fff;
 vertical-align: top;
 }
 div.draft, div.published {
 padding: .3em;
 border: 1px solid #999; 
 margin-bottom: .1em;
 font-family: arial, sans-serif;
 max-width: 60em;
 }
 div.draft {
 background: #ffa;
 } 
 div.published {
 background: #e5ecf9;
 }
 div.published .body, div.draft .body {
 padding: .5em .1em .1em .1em;
 max-width: 60em;
 white-space: pre-wrap;
 white-space: -moz-pre-wrap;
 white-space: -pre-wrap;
 white-space: -o-pre-wrap;
 word-wrap: break-word;
 }
 div.draft .actions {
 margin-left: 1em;
 font-size: 90%;
 }
 div.draft form {
 padding: .5em .5em .5em 0;
 }
 div.draft textarea, div.published textarea {
 width: 95%;
 height: 10em;
 font-family: arial, sans-serif;
 margin-bottom: .5em;
 }


 
 .nocursor, .nocursor td, .cursor_hidden, .cursor_hidden td {
 background-color: white;
 height: 2px;
 }
 .cursor, .cursor td {
 background-color: darkblue;
 height: 2px;
 display: '';
 }

</style>
<div class="fc">
 


<table class="opened" id="review_comment_area"><tr>
<td id="nums">
<pre><table width="100%"><tr class="nocursor"><td></td></tr></table></pre>

<pre><table width="100%"><tr id="gr_svn168_1"><td id="1"><a href="#1">1</a></td></tr
><tr id="gr_svn168_2"><td id="2"><a href="#2">2</a></td></tr
><tr id="gr_svn168_3"><td id="3"><a href="#3">3</a></td></tr
><tr id="gr_svn168_4"><td id="4"><a href="#4">4</a></td></tr
><tr id="gr_svn168_5"><td id="5"><a href="#5">5</a></td></tr
><tr id="gr_svn168_6"><td id="6"><a href="#6">6</a></td></tr
><tr id="gr_svn168_7"><td id="7"><a href="#7">7</a></td></tr
><tr id="gr_svn168_8"><td id="8"><a href="#8">8</a></td></tr
><tr id="gr_svn168_9"><td id="9"><a href="#9">9</a></td></tr
><tr id="gr_svn168_10"><td id="10"><a href="#10">10</a></td></tr
><tr id="gr_svn168_11"><td id="11"><a href="#11">11</a></td></tr
><tr id="gr_svn168_12"><td id="12"><a href="#12">12</a></td></tr
><tr id="gr_svn168_13"><td id="13"><a href="#13">13</a></td></tr
><tr id="gr_svn168_14"><td id="14"><a href="#14">14</a></td></tr
><tr id="gr_svn168_15"><td id="15"><a href="#15">15</a></td></tr
><tr id="gr_svn168_16"><td id="16"><a href="#16">16</a></td></tr
><tr id="gr_svn168_17"><td id="17"><a href="#17">17</a></td></tr
><tr id="gr_svn168_18"><td id="18"><a href="#18">18</a></td></tr
><tr id="gr_svn168_19"><td id="19"><a href="#19">19</a></td></tr
><tr id="gr_svn168_20"><td id="20"><a href="#20">20</a></td></tr
><tr id="gr_svn168_21"><td id="21"><a href="#21">21</a></td></tr
><tr id="gr_svn168_22"><td id="22"><a href="#22">22</a></td></tr
><tr id="gr_svn168_23"><td id="23"><a href="#23">23</a></td></tr
><tr id="gr_svn168_24"><td id="24"><a href="#24">24</a></td></tr
><tr id="gr_svn168_25"><td id="25"><a href="#25">25</a></td></tr
><tr id="gr_svn168_26"><td id="26"><a href="#26">26</a></td></tr
><tr id="gr_svn168_27"><td id="27"><a href="#27">27</a></td></tr
><tr id="gr_svn168_28"><td id="28"><a href="#28">28</a></td></tr
><tr id="gr_svn168_29"><td id="29"><a href="#29">29</a></td></tr
><tr id="gr_svn168_30"><td id="30"><a href="#30">30</a></td></tr
><tr id="gr_svn168_31"><td id="31"><a href="#31">31</a></td></tr
><tr id="gr_svn168_32"><td id="32"><a href="#32">32</a></td></tr
><tr id="gr_svn168_33"><td id="33"><a href="#33">33</a></td></tr
><tr id="gr_svn168_34"><td id="34"><a href="#34">34</a></td></tr
><tr id="gr_svn168_35"><td id="35"><a href="#35">35</a></td></tr
><tr id="gr_svn168_36"><td id="36"><a href="#36">36</a></td></tr
><tr id="gr_svn168_37"><td id="37"><a href="#37">37</a></td></tr
><tr id="gr_svn168_38"><td id="38"><a href="#38">38</a></td></tr
><tr id="gr_svn168_39"><td id="39"><a href="#39">39</a></td></tr
><tr id="gr_svn168_40"><td id="40"><a href="#40">40</a></td></tr
><tr id="gr_svn168_41"><td id="41"><a href="#41">41</a></td></tr
><tr id="gr_svn168_42"><td id="42"><a href="#42">42</a></td></tr
><tr id="gr_svn168_43"><td id="43"><a href="#43">43</a></td></tr
><tr id="gr_svn168_44"><td id="44"><a href="#44">44</a></td></tr
><tr id="gr_svn168_45"><td id="45"><a href="#45">45</a></td></tr
><tr id="gr_svn168_46"><td id="46"><a href="#46">46</a></td></tr
><tr id="gr_svn168_47"><td id="47"><a href="#47">47</a></td></tr
><tr id="gr_svn168_48"><td id="48"><a href="#48">48</a></td></tr
><tr id="gr_svn168_49"><td id="49"><a href="#49">49</a></td></tr
><tr id="gr_svn168_50"><td id="50"><a href="#50">50</a></td></tr
><tr id="gr_svn168_51"><td id="51"><a href="#51">51</a></td></tr
><tr id="gr_svn168_52"><td id="52"><a href="#52">52</a></td></tr
><tr id="gr_svn168_53"><td id="53"><a href="#53">53</a></td></tr
><tr id="gr_svn168_54"><td id="54"><a href="#54">54</a></td></tr
><tr id="gr_svn168_55"><td id="55"><a href="#55">55</a></td></tr
><tr id="gr_svn168_56"><td id="56"><a href="#56">56</a></td></tr
><tr id="gr_svn168_57"><td id="57"><a href="#57">57</a></td></tr
><tr id="gr_svn168_58"><td id="58"><a href="#58">58</a></td></tr
><tr id="gr_svn168_59"><td id="59"><a href="#59">59</a></td></tr
><tr id="gr_svn168_60"><td id="60"><a href="#60">60</a></td></tr
><tr id="gr_svn168_61"><td id="61"><a href="#61">61</a></td></tr
><tr id="gr_svn168_62"><td id="62"><a href="#62">62</a></td></tr
><tr id="gr_svn168_63"><td id="63"><a href="#63">63</a></td></tr
><tr id="gr_svn168_64"><td id="64"><a href="#64">64</a></td></tr
><tr id="gr_svn168_65"><td id="65"><a href="#65">65</a></td></tr
><tr id="gr_svn168_66"><td id="66"><a href="#66">66</a></td></tr
><tr id="gr_svn168_67"><td id="67"><a href="#67">67</a></td></tr
><tr id="gr_svn168_68"><td id="68"><a href="#68">68</a></td></tr
><tr id="gr_svn168_69"><td id="69"><a href="#69">69</a></td></tr
><tr id="gr_svn168_70"><td id="70"><a href="#70">70</a></td></tr
><tr id="gr_svn168_71"><td id="71"><a href="#71">71</a></td></tr
><tr id="gr_svn168_72"><td id="72"><a href="#72">72</a></td></tr
><tr id="gr_svn168_73"><td id="73"><a href="#73">73</a></td></tr
><tr id="gr_svn168_74"><td id="74"><a href="#74">74</a></td></tr
><tr id="gr_svn168_75"><td id="75"><a href="#75">75</a></td></tr
><tr id="gr_svn168_76"><td id="76"><a href="#76">76</a></td></tr
><tr id="gr_svn168_77"><td id="77"><a href="#77">77</a></td></tr
><tr id="gr_svn168_78"><td id="78"><a href="#78">78</a></td></tr
><tr id="gr_svn168_79"><td id="79"><a href="#79">79</a></td></tr
><tr id="gr_svn168_80"><td id="80"><a href="#80">80</a></td></tr
><tr id="gr_svn168_81"><td id="81"><a href="#81">81</a></td></tr
><tr id="gr_svn168_82"><td id="82"><a href="#82">82</a></td></tr
><tr id="gr_svn168_83"><td id="83"><a href="#83">83</a></td></tr
><tr id="gr_svn168_84"><td id="84"><a href="#84">84</a></td></tr
><tr id="gr_svn168_85"><td id="85"><a href="#85">85</a></td></tr
><tr id="gr_svn168_86"><td id="86"><a href="#86">86</a></td></tr
><tr id="gr_svn168_87"><td id="87"><a href="#87">87</a></td></tr
><tr id="gr_svn168_88"><td id="88"><a href="#88">88</a></td></tr
><tr id="gr_svn168_89"><td id="89"><a href="#89">89</a></td></tr
><tr id="gr_svn168_90"><td id="90"><a href="#90">90</a></td></tr
><tr id="gr_svn168_91"><td id="91"><a href="#91">91</a></td></tr
><tr id="gr_svn168_92"><td id="92"><a href="#92">92</a></td></tr
><tr id="gr_svn168_93"><td id="93"><a href="#93">93</a></td></tr
><tr id="gr_svn168_94"><td id="94"><a href="#94">94</a></td></tr
><tr id="gr_svn168_95"><td id="95"><a href="#95">95</a></td></tr
><tr id="gr_svn168_96"><td id="96"><a href="#96">96</a></td></tr
><tr id="gr_svn168_97"><td id="97"><a href="#97">97</a></td></tr
><tr id="gr_svn168_98"><td id="98"><a href="#98">98</a></td></tr
><tr id="gr_svn168_99"><td id="99"><a href="#99">99</a></td></tr
><tr id="gr_svn168_100"><td id="100"><a href="#100">100</a></td></tr
><tr id="gr_svn168_101"><td id="101"><a href="#101">101</a></td></tr
><tr id="gr_svn168_102"><td id="102"><a href="#102">102</a></td></tr
><tr id="gr_svn168_103"><td id="103"><a href="#103">103</a></td></tr
><tr id="gr_svn168_104"><td id="104"><a href="#104">104</a></td></tr
><tr id="gr_svn168_105"><td id="105"><a href="#105">105</a></td></tr
><tr id="gr_svn168_106"><td id="106"><a href="#106">106</a></td></tr
><tr id="gr_svn168_107"><td id="107"><a href="#107">107</a></td></tr
><tr id="gr_svn168_108"><td id="108"><a href="#108">108</a></td></tr
><tr id="gr_svn168_109"><td id="109"><a href="#109">109</a></td></tr
><tr id="gr_svn168_110"><td id="110"><a href="#110">110</a></td></tr
><tr id="gr_svn168_111"><td id="111"><a href="#111">111</a></td></tr
><tr id="gr_svn168_112"><td id="112"><a href="#112">112</a></td></tr
><tr id="gr_svn168_113"><td id="113"><a href="#113">113</a></td></tr
><tr id="gr_svn168_114"><td id="114"><a href="#114">114</a></td></tr
><tr id="gr_svn168_115"><td id="115"><a href="#115">115</a></td></tr
><tr id="gr_svn168_116"><td id="116"><a href="#116">116</a></td></tr
><tr id="gr_svn168_117"><td id="117"><a href="#117">117</a></td></tr
><tr id="gr_svn168_118"><td id="118"><a href="#118">118</a></td></tr
><tr id="gr_svn168_119"><td id="119"><a href="#119">119</a></td></tr
><tr id="gr_svn168_120"><td id="120"><a href="#120">120</a></td></tr
><tr id="gr_svn168_121"><td id="121"><a href="#121">121</a></td></tr
><tr id="gr_svn168_122"><td id="122"><a href="#122">122</a></td></tr
><tr id="gr_svn168_123"><td id="123"><a href="#123">123</a></td></tr
><tr id="gr_svn168_124"><td id="124"><a href="#124">124</a></td></tr
><tr id="gr_svn168_125"><td id="125"><a href="#125">125</a></td></tr
><tr id="gr_svn168_126"><td id="126"><a href="#126">126</a></td></tr
><tr id="gr_svn168_127"><td id="127"><a href="#127">127</a></td></tr
><tr id="gr_svn168_128"><td id="128"><a href="#128">128</a></td></tr
><tr id="gr_svn168_129"><td id="129"><a href="#129">129</a></td></tr
><tr id="gr_svn168_130"><td id="130"><a href="#130">130</a></td></tr
><tr id="gr_svn168_131"><td id="131"><a href="#131">131</a></td></tr
><tr id="gr_svn168_132"><td id="132"><a href="#132">132</a></td></tr
><tr id="gr_svn168_133"><td id="133"><a href="#133">133</a></td></tr
><tr id="gr_svn168_134"><td id="134"><a href="#134">134</a></td></tr
><tr id="gr_svn168_135"><td id="135"><a href="#135">135</a></td></tr
><tr id="gr_svn168_136"><td id="136"><a href="#136">136</a></td></tr
><tr id="gr_svn168_137"><td id="137"><a href="#137">137</a></td></tr
><tr id="gr_svn168_138"><td id="138"><a href="#138">138</a></td></tr
><tr id="gr_svn168_139"><td id="139"><a href="#139">139</a></td></tr
><tr id="gr_svn168_140"><td id="140"><a href="#140">140</a></td></tr
><tr id="gr_svn168_141"><td id="141"><a href="#141">141</a></td></tr
><tr id="gr_svn168_142"><td id="142"><a href="#142">142</a></td></tr
><tr id="gr_svn168_143"><td id="143"><a href="#143">143</a></td></tr
><tr id="gr_svn168_144"><td id="144"><a href="#144">144</a></td></tr
><tr id="gr_svn168_145"><td id="145"><a href="#145">145</a></td></tr
><tr id="gr_svn168_146"><td id="146"><a href="#146">146</a></td></tr
><tr id="gr_svn168_147"><td id="147"><a href="#147">147</a></td></tr
><tr id="gr_svn168_148"><td id="148"><a href="#148">148</a></td></tr
><tr id="gr_svn168_149"><td id="149"><a href="#149">149</a></td></tr
><tr id="gr_svn168_150"><td id="150"><a href="#150">150</a></td></tr
><tr id="gr_svn168_151"><td id="151"><a href="#151">151</a></td></tr
><tr id="gr_svn168_152"><td id="152"><a href="#152">152</a></td></tr
><tr id="gr_svn168_153"><td id="153"><a href="#153">153</a></td></tr
><tr id="gr_svn168_154"><td id="154"><a href="#154">154</a></td></tr
><tr id="gr_svn168_155"><td id="155"><a href="#155">155</a></td></tr
><tr id="gr_svn168_156"><td id="156"><a href="#156">156</a></td></tr
><tr id="gr_svn168_157"><td id="157"><a href="#157">157</a></td></tr
><tr id="gr_svn168_158"><td id="158"><a href="#158">158</a></td></tr
><tr id="gr_svn168_159"><td id="159"><a href="#159">159</a></td></tr
><tr id="gr_svn168_160"><td id="160"><a href="#160">160</a></td></tr
><tr id="gr_svn168_161"><td id="161"><a href="#161">161</a></td></tr
><tr id="gr_svn168_162"><td id="162"><a href="#162">162</a></td></tr
><tr id="gr_svn168_163"><td id="163"><a href="#163">163</a></td></tr
><tr id="gr_svn168_164"><td id="164"><a href="#164">164</a></td></tr
><tr id="gr_svn168_165"><td id="165"><a href="#165">165</a></td></tr
><tr id="gr_svn168_166"><td id="166"><a href="#166">166</a></td></tr
><tr id="gr_svn168_167"><td id="167"><a href="#167">167</a></td></tr
><tr id="gr_svn168_168"><td id="168"><a href="#168">168</a></td></tr
><tr id="gr_svn168_169"><td id="169"><a href="#169">169</a></td></tr
><tr id="gr_svn168_170"><td id="170"><a href="#170">170</a></td></tr
><tr id="gr_svn168_171"><td id="171"><a href="#171">171</a></td></tr
><tr id="gr_svn168_172"><td id="172"><a href="#172">172</a></td></tr
><tr id="gr_svn168_173"><td id="173"><a href="#173">173</a></td></tr
><tr id="gr_svn168_174"><td id="174"><a href="#174">174</a></td></tr
><tr id="gr_svn168_175"><td id="175"><a href="#175">175</a></td></tr
><tr id="gr_svn168_176"><td id="176"><a href="#176">176</a></td></tr
><tr id="gr_svn168_177"><td id="177"><a href="#177">177</a></td></tr
><tr id="gr_svn168_178"><td id="178"><a href="#178">178</a></td></tr
><tr id="gr_svn168_179"><td id="179"><a href="#179">179</a></td></tr
><tr id="gr_svn168_180"><td id="180"><a href="#180">180</a></td></tr
><tr id="gr_svn168_181"><td id="181"><a href="#181">181</a></td></tr
><tr id="gr_svn168_182"><td id="182"><a href="#182">182</a></td></tr
><tr id="gr_svn168_183"><td id="183"><a href="#183">183</a></td></tr
><tr id="gr_svn168_184"><td id="184"><a href="#184">184</a></td></tr
><tr id="gr_svn168_185"><td id="185"><a href="#185">185</a></td></tr
><tr id="gr_svn168_186"><td id="186"><a href="#186">186</a></td></tr
><tr id="gr_svn168_187"><td id="187"><a href="#187">187</a></td></tr
><tr id="gr_svn168_188"><td id="188"><a href="#188">188</a></td></tr
><tr id="gr_svn168_189"><td id="189"><a href="#189">189</a></td></tr
><tr id="gr_svn168_190"><td id="190"><a href="#190">190</a></td></tr
><tr id="gr_svn168_191"><td id="191"><a href="#191">191</a></td></tr
><tr id="gr_svn168_192"><td id="192"><a href="#192">192</a></td></tr
><tr id="gr_svn168_193"><td id="193"><a href="#193">193</a></td></tr
><tr id="gr_svn168_194"><td id="194"><a href="#194">194</a></td></tr
><tr id="gr_svn168_195"><td id="195"><a href="#195">195</a></td></tr
><tr id="gr_svn168_196"><td id="196"><a href="#196">196</a></td></tr
><tr id="gr_svn168_197"><td id="197"><a href="#197">197</a></td></tr
><tr id="gr_svn168_198"><td id="198"><a href="#198">198</a></td></tr
><tr id="gr_svn168_199"><td id="199"><a href="#199">199</a></td></tr
><tr id="gr_svn168_200"><td id="200"><a href="#200">200</a></td></tr
><tr id="gr_svn168_201"><td id="201"><a href="#201">201</a></td></tr
><tr id="gr_svn168_202"><td id="202"><a href="#202">202</a></td></tr
><tr id="gr_svn168_203"><td id="203"><a href="#203">203</a></td></tr
><tr id="gr_svn168_204"><td id="204"><a href="#204">204</a></td></tr
><tr id="gr_svn168_205"><td id="205"><a href="#205">205</a></td></tr
><tr id="gr_svn168_206"><td id="206"><a href="#206">206</a></td></tr
><tr id="gr_svn168_207"><td id="207"><a href="#207">207</a></td></tr
><tr id="gr_svn168_208"><td id="208"><a href="#208">208</a></td></tr
><tr id="gr_svn168_209"><td id="209"><a href="#209">209</a></td></tr
></table></pre>

<pre><table width="100%"><tr id="gr_svn168_210"><td id="210"><a href="#210">210</a></td></tr
><tr id="gr_svn168_211"><td id="211"><a href="#211">211</a></td></tr
><tr id="gr_svn168_212"><td id="212"><a href="#212">212</a></td></tr
><tr id="gr_svn168_213"><td id="213"><a href="#213">213</a></td></tr
><tr id="gr_svn168_214"><td id="214"><a href="#214">214</a></td></tr
><tr id="gr_svn168_215"><td id="215"><a href="#215">215</a></td></tr
><tr id="gr_svn168_216"><td id="216"><a href="#216">216</a></td></tr
><tr id="gr_svn168_217"><td id="217"><a href="#217">217</a></td></tr
><tr id="gr_svn168_218"><td id="218"><a href="#218">218</a></td></tr
><tr id="gr_svn168_219"><td id="219"><a href="#219">219</a></td></tr
><tr id="gr_svn168_220"><td id="220"><a href="#220">220</a></td></tr
><tr id="gr_svn168_221"><td id="221"><a href="#221">221</a></td></tr
><tr id="gr_svn168_222"><td id="222"><a href="#222">222</a></td></tr
><tr id="gr_svn168_223"><td id="223"><a href="#223">223</a></td></tr
><tr id="gr_svn168_224"><td id="224"><a href="#224">224</a></td></tr
><tr id="gr_svn168_225"><td id="225"><a href="#225">225</a></td></tr
><tr id="gr_svn168_226"><td id="226"><a href="#226">226</a></td></tr
></table></pre>

<pre><table width="100%"><tr class="nocursor"><td></td></tr></table></pre>
</td>
<td id="lines">
<pre class="prettyprint"><table width="100%"><tr class="cursor_stop cursor_hidden"><td></td></tr></table></pre>

<pre class="prettyprint lang-css"><table><tr
id=sl_svn168_1><td class="source">/* -----------------------------------------------------------------------<br></td></tr
><tr
id=sl_svn168_2><td class="source"><br></td></tr
><tr
id=sl_svn168_3><td class="source">   Blueprint CSS Framework 0.7.1<br></td></tr
><tr
id=sl_svn168_4><td class="source">   http://blueprintcss.googlecode.com<br></td></tr
><tr
id=sl_svn168_5><td class="source"><br></td></tr
><tr
id=sl_svn168_6><td class="source">   * Copyright (c) 2007-2008. See LICENSE for more info.<br></td></tr
><tr
id=sl_svn168_7><td class="source">   * See README for instructions on how to use Blueprint.<br></td></tr
><tr
id=sl_svn168_8><td class="source">   * For credits and origins, see AUTHORS.<br></td></tr
><tr
id=sl_svn168_9><td class="source">   * This is a compressed file. See the sources in the &#39;src&#39; directory.<br></td></tr
><tr
id=sl_svn168_10><td class="source"><br></td></tr
><tr
id=sl_svn168_11><td class="source">----------------------------------------------------------------------- */<br></td></tr
><tr
id=sl_svn168_12><td class="source"><br></td></tr
><tr
id=sl_svn168_13><td class="source">/* reset.css */<br></td></tr
><tr
id=sl_svn168_14><td class="source">html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}<br></td></tr
><tr
id=sl_svn168_15><td class="source">body {line-height:1.5;}<br></td></tr
><tr
id=sl_svn168_16><td class="source">table {border-collapse:separate;border-spacing:0;}<br></td></tr
><tr
id=sl_svn168_17><td class="source">caption, th, td {text-align:left;font-weight:normal;}<br></td></tr
><tr
id=sl_svn168_18><td class="source">table, td, th {vertical-align:middle;}<br></td></tr
><tr
id=sl_svn168_19><td class="source">blockquote:before, blockquote:after, q:before, q:after {content:&quot;&quot;;}<br></td></tr
><tr
id=sl_svn168_20><td class="source">blockquote, q {quotes:&quot;&quot; &quot;&quot;;}<br></td></tr
><tr
id=sl_svn168_21><td class="source">a img {border:none;}<br></td></tr
><tr
id=sl_svn168_22><td class="source"><br></td></tr
><tr
id=sl_svn168_23><td class="source">/* typography.css */<br></td></tr
><tr
id=sl_svn168_24><td class="source">body {font-size:75%;color:#222;background:#fff;font-family:&quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;}<br></td></tr
><tr
id=sl_svn168_25><td class="source">h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}<br></td></tr
><tr
id=sl_svn168_26><td class="source">h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}<br></td></tr
><tr
id=sl_svn168_27><td class="source">h2 {font-size:2em;margin-bottom:0.75em;}<br></td></tr
><tr
id=sl_svn168_28><td class="source">h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}<br></td></tr
><tr
id=sl_svn168_29><td class="source">h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;height:1.25em;}<br></td></tr
><tr
id=sl_svn168_30><td class="source">h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}<br></td></tr
><tr
id=sl_svn168_31><td class="source">h6 {font-size:1em;font-weight:bold;}<br></td></tr
><tr
id=sl_svn168_32><td class="source">h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}<br></td></tr
><tr
id=sl_svn168_33><td class="source">p {margin:0 0 1.5em;}<br></td></tr
><tr
id=sl_svn168_34><td class="source">p img {float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}<br></td></tr
><tr
id=sl_svn168_35><td class="source">p img.right {float:right;margin:1.5em 0 1.5em 1.5em;}<br></td></tr
><tr
id=sl_svn168_36><td class="source">a:focus, a:hover {color:#000;}<br></td></tr
><tr
id=sl_svn168_37><td class="source">a {color:#009;text-decoration:underline;}<br></td></tr
><tr
id=sl_svn168_38><td class="source">blockquote {margin:1.5em;color:#666;font-style:italic;}<br></td></tr
><tr
id=sl_svn168_39><td class="source">strong {font-weight:bold;}<br></td></tr
><tr
id=sl_svn168_40><td class="source">em, dfn {font-style:italic;}<br></td></tr
><tr
id=sl_svn168_41><td class="source">dfn {font-weight:bold;}<br></td></tr
><tr
id=sl_svn168_42><td class="source">sup, sub {line-height:0;}<br></td></tr
><tr
id=sl_svn168_43><td class="source">abbr, acronym {border-bottom:1px dotted #666;}<br></td></tr
><tr
id=sl_svn168_44><td class="source">address {margin:0 0 1.5em;font-style:italic;}<br></td></tr
><tr
id=sl_svn168_45><td class="source">del {color:#666;}<br></td></tr
><tr
id=sl_svn168_46><td class="source">pre, code {margin:1.5em 0;white-space:pre;}<br></td></tr
><tr
id=sl_svn168_47><td class="source">pre, code, tt {font:1em &#39;andale mono&#39;, &#39;lucida console&#39;, monospace;line-height:1.5;}<br></td></tr
><tr
id=sl_svn168_48><td class="source">li ul, li ol {margin:0 1.5em;}<br></td></tr
><tr
id=sl_svn168_49><td class="source">ul, ol {margin:0 1.5em 1.5em 1.5em;}<br></td></tr
><tr
id=sl_svn168_50><td class="source">ul {list-style-type:disc;}<br></td></tr
><tr
id=sl_svn168_51><td class="source">ol {list-style-type:decimal;}<br></td></tr
><tr
id=sl_svn168_52><td class="source">dl {margin:0 0 1.5em 0;}<br></td></tr
><tr
id=sl_svn168_53><td class="source">dl dt {font-weight:bold;}<br></td></tr
><tr
id=sl_svn168_54><td class="source">dd {margin-left:1.5em;}<br></td></tr
><tr
id=sl_svn168_55><td class="source">table {margin-bottom:1.4em;width:100%;}<br></td></tr
><tr
id=sl_svn168_56><td class="source">th {font-weight:bold;background:#C3D9FF;}<br></td></tr
><tr
id=sl_svn168_57><td class="source">th, td {padding:4px 10px 4px 5px;}<br></td></tr
><tr
id=sl_svn168_58><td class="source">tr.even td {background:#E5ECF9;}<br></td></tr
><tr
id=sl_svn168_59><td class="source">tfoot {font-style:italic;}<br></td></tr
><tr
id=sl_svn168_60><td class="source">caption {background:#eee;}<br></td></tr
><tr
id=sl_svn168_61><td class="source">.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}<br></td></tr
><tr
id=sl_svn168_62><td class="source">.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}<br></td></tr
><tr
id=sl_svn168_63><td class="source">.hide {display:none;}<br></td></tr
><tr
id=sl_svn168_64><td class="source">.quiet {color:#666;}<br></td></tr
><tr
id=sl_svn168_65><td class="source">.loud {color:#000;}<br></td></tr
><tr
id=sl_svn168_66><td class="source">.highlight {background:#ff0;}<br></td></tr
><tr
id=sl_svn168_67><td class="source">.added {background:#060;color:#fff;}<br></td></tr
><tr
id=sl_svn168_68><td class="source">.removed {background:#900;color:#fff;}<br></td></tr
><tr
id=sl_svn168_69><td class="source">.first {margin-left:0;padding-left:0;}<br></td></tr
><tr
id=sl_svn168_70><td class="source">.last {margin-right:0;padding-right:0;}<br></td></tr
><tr
id=sl_svn168_71><td class="source">.top {margin-top:0;padding-top:0;}<br></td></tr
><tr
id=sl_svn168_72><td class="source">.bottom {margin-bottom:0;padding-bottom:0;}<br></td></tr
><tr
id=sl_svn168_73><td class="source"><br></td></tr
><tr
id=sl_svn168_74><td class="source">/* grid.css */<br></td></tr
><tr
id=sl_svn168_75><td class="source">.container {width:950px;margin:0 auto;}<br></td></tr
><tr
id=sl_svn168_76><td class="source">.showgrid {background:url(src/grid.png);}<br></td></tr
><tr
id=sl_svn168_77><td class="source">body {margin:1.5em 0;}<br></td></tr
><tr
id=sl_svn168_78><td class="source">div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24 {float:left;margin-right:10px;}<br></td></tr
><tr
id=sl_svn168_79><td class="source">div.last {margin-right:0;}<br></td></tr
><tr
id=sl_svn168_80><td class="source">.span-1 {width:30px;}<br></td></tr
><tr
id=sl_svn168_81><td class="source">.span-2 {width:70px;}<br></td></tr
><tr
id=sl_svn168_82><td class="source">.span-3 {width:110px;}<br></td></tr
><tr
id=sl_svn168_83><td class="source">.span-4 {width:150px;}<br></td></tr
><tr
id=sl_svn168_84><td class="source">.span-5 {width:190px;}<br></td></tr
><tr
id=sl_svn168_85><td class="source">.span-6 {width:230px;}<br></td></tr
><tr
id=sl_svn168_86><td class="source">.span-7 {width:270px;}<br></td></tr
><tr
id=sl_svn168_87><td class="source">.span-8 {width:310px;}<br></td></tr
><tr
id=sl_svn168_88><td class="source">.span-9 {width:350px;}<br></td></tr
><tr
id=sl_svn168_89><td class="source">.span-10 {width:390px;}<br></td></tr
><tr
id=sl_svn168_90><td class="source">.span-11 {width:430px;}<br></td></tr
><tr
id=sl_svn168_91><td class="source">.span-12 {width:470px;}<br></td></tr
><tr
id=sl_svn168_92><td class="source">.span-13 {width:510px;}<br></td></tr
><tr
id=sl_svn168_93><td class="source">.span-14 {width:550px;}<br></td></tr
><tr
id=sl_svn168_94><td class="source">.span-15 {width:590px;}<br></td></tr
><tr
id=sl_svn168_95><td class="source">.span-16 {width:630px;}<br></td></tr
><tr
id=sl_svn168_96><td class="source">.span-17 {width:670px;}<br></td></tr
><tr
id=sl_svn168_97><td class="source">.span-18 {width:710px;}<br></td></tr
><tr
id=sl_svn168_98><td class="source">.span-19 {width:750px;}<br></td></tr
><tr
id=sl_svn168_99><td class="source">.span-20 {width:790px;}<br></td></tr
><tr
id=sl_svn168_100><td class="source">.span-21 {width:830px;}<br></td></tr
><tr
id=sl_svn168_101><td class="source">.span-22 {width:870px;}<br></td></tr
><tr
id=sl_svn168_102><td class="source">.span-23 {width:910px;}<br></td></tr
><tr
id=sl_svn168_103><td class="source">.span-24, div.span-24 {width:950px;margin:0;}<br></td></tr
><tr
id=sl_svn168_104><td class="source">.append-1 {padding-right:40px;}<br></td></tr
><tr
id=sl_svn168_105><td class="source">.append-2 {padding-right:80px;}<br></td></tr
><tr
id=sl_svn168_106><td class="source">.append-3 {padding-right:120px;}<br></td></tr
><tr
id=sl_svn168_107><td class="source">.append-4 {padding-right:160px;}<br></td></tr
><tr
id=sl_svn168_108><td class="source">.append-5 {padding-right:200px;}<br></td></tr
><tr
id=sl_svn168_109><td class="source">.append-6 {padding-right:240px;}<br></td></tr
><tr
id=sl_svn168_110><td class="source">.append-7 {padding-right:280px;}<br></td></tr
><tr
id=sl_svn168_111><td class="source">.append-8 {padding-right:320px;}<br></td></tr
><tr
id=sl_svn168_112><td class="source">.append-9 {padding-right:360px;}<br></td></tr
><tr
id=sl_svn168_113><td class="source">.append-10 {padding-right:400px;}<br></td></tr
><tr
id=sl_svn168_114><td class="source">.append-11 {padding-right:440px;}<br></td></tr
><tr
id=sl_svn168_115><td class="source">.append-12 {padding-right:480px;}<br></td></tr
><tr
id=sl_svn168_116><td class="source">.append-13 {padding-right:520px;}<br></td></tr
><tr
id=sl_svn168_117><td class="source">.append-14 {padding-right:560px;}<br></td></tr
><tr
id=sl_svn168_118><td class="source">.append-15 {padding-right:600px;}<br></td></tr
><tr
id=sl_svn168_119><td class="source">.append-16 {padding-right:640px;}<br></td></tr
><tr
id=sl_svn168_120><td class="source">.append-17 {padding-right:680px;}<br></td></tr
><tr
id=sl_svn168_121><td class="source">.append-18 {padding-right:720px;}<br></td></tr
><tr
id=sl_svn168_122><td class="source">.append-19 {padding-right:760px;}<br></td></tr
><tr
id=sl_svn168_123><td class="source">.append-20 {padding-right:800px;}<br></td></tr
><tr
id=sl_svn168_124><td class="source">.append-21 {padding-right:840px;}<br></td></tr
><tr
id=sl_svn168_125><td class="source">.append-22 {padding-right:880px;}<br></td></tr
><tr
id=sl_svn168_126><td class="source">.append-23 {padding-right:920px;}<br></td></tr
><tr
id=sl_svn168_127><td class="source">.prepend-1 {padding-left:40px;}<br></td></tr
><tr
id=sl_svn168_128><td class="source">.prepend-2 {padding-left:80px;}<br></td></tr
><tr
id=sl_svn168_129><td class="source">.prepend-3 {padding-left:120px;}<br></td></tr
><tr
id=sl_svn168_130><td class="source">.prepend-4 {padding-left:160px;}<br></td></tr
><tr
id=sl_svn168_131><td class="source">.prepend-5 {padding-left:200px;}<br></td></tr
><tr
id=sl_svn168_132><td class="source">.prepend-6 {padding-left:240px;}<br></td></tr
><tr
id=sl_svn168_133><td class="source">.prepend-7 {padding-left:280px;}<br></td></tr
><tr
id=sl_svn168_134><td class="source">.prepend-8 {padding-left:320px;}<br></td></tr
><tr
id=sl_svn168_135><td class="source">.prepend-9 {padding-left:360px;}<br></td></tr
><tr
id=sl_svn168_136><td class="source">.prepend-10 {padding-left:400px;}<br></td></tr
><tr
id=sl_svn168_137><td class="source">.prepend-11 {padding-left:440px;}<br></td></tr
><tr
id=sl_svn168_138><td class="source">.prepend-12 {padding-left:480px;}<br></td></tr
><tr
id=sl_svn168_139><td class="source">.prepend-13 {padding-left:520px;}<br></td></tr
><tr
id=sl_svn168_140><td class="source">.prepend-14 {padding-left:560px;}<br></td></tr
><tr
id=sl_svn168_141><td class="source">.prepend-15 {padding-left:600px;}<br></td></tr
><tr
id=sl_svn168_142><td class="source">.prepend-16 {padding-left:640px;}<br></td></tr
><tr
id=sl_svn168_143><td class="source">.prepend-17 {padding-left:680px;}<br></td></tr
><tr
id=sl_svn168_144><td class="source">.prepend-18 {padding-left:720px;}<br></td></tr
><tr
id=sl_svn168_145><td class="source">.prepend-19 {padding-left:760px;}<br></td></tr
><tr
id=sl_svn168_146><td class="source">.prepend-20 {padding-left:800px;}<br></td></tr
><tr
id=sl_svn168_147><td class="source">.prepend-21 {padding-left:840px;}<br></td></tr
><tr
id=sl_svn168_148><td class="source">.prepend-22 {padding-left:880px;}<br></td></tr
><tr
id=sl_svn168_149><td class="source">.prepend-23 {padding-left:920px;}<br></td></tr
><tr
id=sl_svn168_150><td class="source">div.border {padding-right:4px;margin-right:5px;border-right:1px solid #eee;}<br></td></tr
><tr
id=sl_svn168_151><td class="source">div.colborder {padding-right:24px;margin-right:25px;border-right:1px solid #eee;}<br></td></tr
><tr
id=sl_svn168_152><td class="source">.pull-1 {margin-left:-40px;}<br></td></tr
><tr
id=sl_svn168_153><td class="source">.pull-2 {margin-left:-80px;}<br></td></tr
><tr
id=sl_svn168_154><td class="source">.pull-3 {margin-left:-120px;}<br></td></tr
><tr
id=sl_svn168_155><td class="source">.pull-4 {margin-left:-160px;}<br></td></tr
><tr
id=sl_svn168_156><td class="source">.pull-5 {margin-left:-200px;}<br></td></tr
><tr
id=sl_svn168_157><td class="source">.pull-6 {margin-left:-240px;}<br></td></tr
><tr
id=sl_svn168_158><td class="source">.pull-7 {margin-left:-280px;}<br></td></tr
><tr
id=sl_svn168_159><td class="source">.pull-8 {margin-left:-320px;}<br></td></tr
><tr
id=sl_svn168_160><td class="source">.pull-9 {margin-left:-360px;}<br></td></tr
><tr
id=sl_svn168_161><td class="source">.pull-10 {margin-left:-400px;}<br></td></tr
><tr
id=sl_svn168_162><td class="source">.pull-11 {margin-left:-440px;}<br></td></tr
><tr
id=sl_svn168_163><td class="source">.pull-12 {margin-left:-480px;}<br></td></tr
><tr
id=sl_svn168_164><td class="source">.pull-13 {margin-left:-520px;}<br></td></tr
><tr
id=sl_svn168_165><td class="source">.pull-14 {margin-left:-560px;}<br></td></tr
><tr
id=sl_svn168_166><td class="source">.pull-15 {margin-left:-600px;}<br></td></tr
><tr
id=sl_svn168_167><td class="source">.pull-16 {margin-left:-640px;}<br></td></tr
><tr
id=sl_svn168_168><td class="source">.pull-17 {margin-left:-680px;}<br></td></tr
><tr
id=sl_svn168_169><td class="source">.pull-18 {margin-left:-720px;}<br></td></tr
><tr
id=sl_svn168_170><td class="source">.pull-19 {margin-left:-760px;}<br></td></tr
><tr
id=sl_svn168_171><td class="source">.pull-20 {margin-left:-800px;}<br></td></tr
><tr
id=sl_svn168_172><td class="source">.pull-21 {margin-left:-840px;}<br></td></tr
><tr
id=sl_svn168_173><td class="source">.pull-22 {margin-left:-880px;}<br></td></tr
><tr
id=sl_svn168_174><td class="source">.pull-23 {margin-left:-920px;}<br></td></tr
><tr
id=sl_svn168_175><td class="source">.pull-24 {margin-left:-960px;}<br></td></tr
><tr
id=sl_svn168_176><td class="source">.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22, .pull-23, .pull-24 {float:left;position:relative;}<br></td></tr
><tr
id=sl_svn168_177><td class="source">.push-1 {margin:0 -40px 1.5em 40px;}<br></td></tr
><tr
id=sl_svn168_178><td class="source">.push-2 {margin:0 -80px 1.5em 80px;}<br></td></tr
><tr
id=sl_svn168_179><td class="source">.push-3 {margin:0 -120px 1.5em 120px;}<br></td></tr
><tr
id=sl_svn168_180><td class="source">.push-4 {margin:0 -160px 1.5em 160px;}<br></td></tr
><tr
id=sl_svn168_181><td class="source">.push-5 {margin:0 -200px 1.5em 200px;}<br></td></tr
><tr
id=sl_svn168_182><td class="source">.push-6 {margin:0 -240px 1.5em 240px;}<br></td></tr
><tr
id=sl_svn168_183><td class="source">.push-7 {margin:0 -280px 1.5em 280px;}<br></td></tr
><tr
id=sl_svn168_184><td class="source">.push-8 {margin:0 -320px 1.5em 320px;}<br></td></tr
><tr
id=sl_svn168_185><td class="source">.push-9 {margin:0 -360px 1.5em 360px;}<br></td></tr
><tr
id=sl_svn168_186><td class="source">.push-10 {margin:0 -400px 1.5em 400px;}<br></td></tr
><tr
id=sl_svn168_187><td class="source">.push-11 {margin:0 -440px 1.5em 440px;}<br></td></tr
><tr
id=sl_svn168_188><td class="source">.push-12 {margin:0 -480px 1.5em 480px;}<br></td></tr
><tr
id=sl_svn168_189><td class="source">.push-13 {margin:0 -520px 1.5em 520px;}<br></td></tr
><tr
id=sl_svn168_190><td class="source">.push-14 {margin:0 -560px 1.5em 560px;}<br></td></tr
><tr
id=sl_svn168_191><td class="source">.push-15 {margin:0 -600px 1.5em 600px;}<br></td></tr
><tr
id=sl_svn168_192><td class="source">.push-16 {margin:0 -640px 1.5em 640px;}<br></td></tr
><tr
id=sl_svn168_193><td class="source">.push-17 {margin:0 -680px 1.5em 680px;}<br></td></tr
><tr
id=sl_svn168_194><td class="source">.push-18 {margin:0 -720px 1.5em 720px;}<br></td></tr
><tr
id=sl_svn168_195><td class="source">.push-19 {margin:0 -760px 1.5em 760px;}<br></td></tr
><tr
id=sl_svn168_196><td class="source">.push-20 {margin:0 -800px 1.5em 800px;}<br></td></tr
><tr
id=sl_svn168_197><td class="source">.push-21 {margin:0 -840px 1.5em 840px;}<br></td></tr
><tr
id=sl_svn168_198><td class="source">.push-22 {margin:0 -880px 1.5em 880px;}<br></td></tr
><tr
id=sl_svn168_199><td class="source">.push-23 {margin:0 -920px 1.5em 920px;}<br></td></tr
><tr
id=sl_svn168_200><td class="source">.push-24 {margin:0 -960px 1.5em 960px;}<br></td></tr
><tr
id=sl_svn168_201><td class="source">.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22, .push-23, .push-24 {float:right;position:relative;}<br></td></tr
><tr
id=sl_svn168_202><td class="source">.box {padding:1.5em;margin-bottom:1.5em;background:#E5ECF9;}<br></td></tr
><tr
id=sl_svn168_203><td class="source">hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:.1em;margin:0 0 1.45em;border:none;}<br></td></tr
><tr
id=sl_svn168_204><td class="source">hr.space {background:#fff;color:#fff;}<br></td></tr
><tr
id=sl_svn168_205><td class="source">.clearfix:after, .container:after {content:&quot;.&quot;;display:block;height:0;clear:both;visibility:hidden;}<br></td></tr
><tr
id=sl_svn168_206><td class="source">.clearfix, .container {display:inline-block;}<br></td></tr
><tr
id=sl_svn168_207><td class="source">* html .clearfix, * html .container {height:1%;}<br></td></tr
><tr
id=sl_svn168_208><td class="source">.clearfix, .container {display:block;}<br></td></tr
><tr
id=sl_svn168_209><td class="source">.clear {clear:both;}<br></td></tr
></table></pre>

<pre class="prettyprint lang-css"><table><tr
id=sl_svn168_210><td class="source"><br></td></tr
><tr
id=sl_svn168_211><td class="source">/* forms.css */<br></td></tr
><tr
id=sl_svn168_212><td class="source">label {font-weight:bold;}<br></td></tr
><tr
id=sl_svn168_213><td class="source">fieldset {padding:1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}<br></td></tr
><tr
id=sl_svn168_214><td class="source">legend {font-weight:bold;font-size:1.2em;}<br></td></tr
><tr
id=sl_svn168_215><td class="source">input.text, input.title, textarea, select {margin:0.5em 0;border:1px solid #bbb;}<br></td></tr
><tr
id=sl_svn168_216><td class="source">input.text:focus, input.title:focus, textarea:focus, select:focus {border:1px solid #666;}<br></td></tr
><tr
id=sl_svn168_217><td class="source">input.text, input.title {width:300px;padding:5px;}<br></td></tr
><tr
id=sl_svn168_218><td class="source">input.title {font-size:1.5em;}<br></td></tr
><tr
id=sl_svn168_219><td class="source">textarea {width:390px;height:250px;padding:5px;}<br></td></tr
><tr
id=sl_svn168_220><td class="source">.error, .notice, .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}<br></td></tr
><tr
id=sl_svn168_221><td class="source">.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}<br></td></tr
><tr
id=sl_svn168_222><td class="source">.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}<br></td></tr
><tr
id=sl_svn168_223><td class="source">.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}<br></td></tr
><tr
id=sl_svn168_224><td class="source">.error a {color:#8a1f11;}<br></td></tr
><tr
id=sl_svn168_225><td class="source">.notice a {color:#514721;}<br></td></tr
><tr
id=sl_svn168_226><td class="source">.success a {color:#264409;}<br></td></tr
></table></pre>

<pre class="prettyprint"><table width="100%"><tr class="cursor_stop cursor_hidden"><td></td></tr></table></pre>
</td>
</tr></table>



 <div id="log">
 <div style="text-align:right">
 <a class="ifCollapse" href="#" onclick="_toggleMeta('waebric', this)">Show details</a>
 <a class="ifExpand" href="#" onclick="_toggleMeta('waebric', this)">Hide details</a>
 </div>
 <div class="ifExpand">
 
 <div class="pmeta_bubble_bg" style="border:1px solid white">
 <div class="round4"></div>
 <div class="round2"></div>
 <div class="round1"></div>
 <div class="box-inner">
 <div id="changelog">
 <p>Change log</p>
 <div>
 <a href="/p/waebric/source/detail?spec=svn626&r=168">r168</a>
 by tvdstorm
 on May 25, 2009
 &nbsp; <a href="/p/waebric/source/diff?spec=svn626&r=168&amp;format=side&amp;path=/trunk/demos/misc/blueprint.css&amp;old_path=/trunk/demos/misc/blueprint.css&amp;old=">Diff</a>
 </div>
 <pre>Added recursive menus example.</pre>
 </div>
 
 
 
 
 
 
 <script type="text/javascript">
 var detail_url = '/p/waebric/source/detail?r=168&spec=svn626';
 var publish_url = '/p/waebric/source/detail?r=168&spec=svn626#publish';
 // describe the paths of this revision in javascript.
 var changed_paths = [];
 var changed_urls = [];
 
 changed_paths.push('/trunk/demos/misc');
 changed_urls.push('/p/waebric/source/browse/trunk/demos/misc?r=168&spec=svn626');
 
 
 changed_paths.push('/trunk/demos/misc/blueprint.css');
 changed_urls.push('/p/waebric/source/browse/trunk/demos/misc/blueprint.css?r=168&spec=svn626');
 
 var selected_path = '/trunk/demos/misc/blueprint.css';
 
 
 changed_paths.push('/trunk/demos/misc/menus.wae');
 changed_urls.push('/p/waebric/source/browse/trunk/demos/misc/menus.wae?r=168&spec=svn626');
 
 
 function getCurrentPageIndex() {
 for (var i = 0; i < changed_paths.length; i++) {
 if (selected_path == changed_paths[i]) {
 return i;
 }
 }
 }
 function getNextPage() {
 var i = getCurrentPageIndex();
 if (i < changed_paths.length - 1) {
 return changed_urls[i + 1];
 }
 return null;
 }
 function getPreviousPage() {
 var i = getCurrentPageIndex();
 if (i > 0) {
 return changed_urls[i - 1];
 }
 return null;
 }
 function gotoNextPage() {
 var page = getNextPage();
 if (!page) {
 page = detail_url;
 }
 window.location = page;
 }
 function gotoPreviousPage() {
 var page = getPreviousPage();
 if (!page) {
 page = detail_url;
 }
 window.location = page;
 }
 function gotoDetailPage() {
 window.location = detail_url;
 }
 function gotoPublishPage() {
 window.location = publish_url;
 }
</script>
 
 <style type="text/css">
 #review_nav {
 border-top: 3px solid white;
 padding-top: 6px;
 margin-top: 1em;
 }
 #review_nav td {
 vertical-align: middle;
 }
 #review_nav select {
 margin: .5em 0;
 }
 </style>
 <div id="review_nav">
 <table><tr><td>Go to:&nbsp;</td><td>
 <select name="files_in_rev" onchange="window.location=this.value">
 
 <option value="/p/waebric/source/browse/trunk/demos/misc?r=168&amp;spec=svn626"
 
 >/trunk/demos/misc</option>
 
 <option value="/p/waebric/source/browse/trunk/demos/misc/blueprint.css?r=168&amp;spec=svn626"
 selected="selected"
 >/trunk/demos/misc/blueprint.css</option>
 
 <option value="/p/waebric/source/browse/trunk/demos/misc/menus.wae?r=168&amp;spec=svn626"
 
 >/trunk/demos/misc/menus.wae</option>
 
 </select>
 </td></tr></table>
 
 
 
 <div id="review_instr" class="closed">
 <a class="ifOpened" href="/p/waebric/source/detail?r=168&spec=svn626#publish">Publish your comments</a>
 <div class="ifClosed">Double click a line to add a comment</div>
 </div>
 
 </div>
 
 
 </div>
 <div class="round1"></div>
 <div class="round2"></div>
 <div class="round4"></div>
 </div>
 <div class="pmeta_bubble_bg" style="border:1px solid white">
 <div class="round4"></div>
 <div class="round2"></div>
 <div class="round1"></div>
 <div class="box-inner">
 <div id="older_bubble">
 <p>Older revisions</p>
 
 <a href="/p/waebric/source/list?path=/trunk/demos/misc/blueprint.css&start=168">All revisions of this file</a>
 </div>
 </div>
 <div class="round1"></div>
 <div class="round2"></div>
 <div class="round4"></div>
 </div>
 <div class="pmeta_bubble_bg" style="border:1px solid white">
 <div class="round4"></div>
 <div class="round2"></div>
 <div class="round1"></div>
 <div class="box-inner">
 <div id="fileinfo_bubble">
 <p>File info</p>
 
 <div>Size: 9415 bytes,
 226 lines</div>
 
 <div><a href="http://waebric.googlecode.com/svn/trunk/demos/misc/blueprint.css">View raw file</a></div>
 </div>
 
 </div>
 <div class="round1"></div>
 <div class="round2"></div>
 <div class="round4"></div>
 </div>
 </div>
 </div>


</div>
</div>

 <script src="http://www.gstatic.com/codesite/ph/14312546538119903951/js/prettify/prettify.js"></script>

 <script src="http://www.gstatic.com/codesite/ph/14312546538119903951/js/prettify/lang-css.js"></script>

<script type="text/javascript">prettyPrint();</script>

<script src="http://www.gstatic.com/codesite/ph/14312546538119903951/js/source_file_scripts_20080115.js"></script>

 <script type="text/javascript" src="http://kibbles.googlecode.com/files/kibbles-1.3.1.comp.js"></script>
 <script type="text/javascript">
 var lastStop = null;
 var initilized = false;
 
 function updateCursor(next, prev) {
 if (prev && prev.element) {
 prev.element.className = 'cursor_stop cursor_hidden';
 }
 if (next && next.element) {
 next.element.className = 'cursor_stop cursor';
 lastStop = next.index;
 }
 }
 
 function pubRevealed(data) {
 updateCursorForCell(data.cellId, 'cursor_stop cursor_hidden');
 if (initilized) {
 reloadCursors();
 }
 }
 
 function draftRevealed(data) {
 updateCursorForCell(data.cellId, 'cursor_stop cursor_hidden');
 if (initilized) {
 reloadCursors();
 }
 }
 
 function draftDestroyed(data) {
 updateCursorForCell(data.cellId, 'nocursor');
 if (initilized) {
 reloadCursors();
 }
 }
 function reloadCursors() {
 kibbles.skipper.reset();
 loadCursors();
 if (lastStop != null) {
 kibbles.skipper.setCurrentStop(lastStop);
 }
 }
 // possibly the simplest way to insert any newly added comments
 // is to update the class of the corresponding cursor row,
 // then refresh the entire list of rows.
 function updateCursorForCell(cellId, className) {
 var cell = document.getElementById(cellId);
 // we have to go two rows back to find the cursor location
 var row = getPreviousElement(cell.parentNode);
 row.className = className;
 }
 // returns the previous element, ignores text nodes.
 function getPreviousElement(e) {
 var element = e.previousSibling;
 if (element.nodeType == 3) {
 element = element.previousSibling;
 }
 if (element && element.tagName) {
 return element;
 }
 }
 function loadCursors() {
 // register our elements with skipper
 var elements = CR_getElements('*', 'cursor_stop');
 var len = elements.length;
 for (var i = 0; i < len; i++) {
 var element = elements[i]; 
 element.className = 'cursor_stop cursor_hidden';
 kibbles.skipper.append(element);
 }
 }
 function toggleComments() {
 CR_toggleCommentDisplay();
 reloadCursors();
 }
 function keysOnLoadHandler() {
 // setup skipper
 kibbles.skipper.addStopListener(
 kibbles.skipper.LISTENER_TYPE.PRE, updateCursor);
 // Set the 'offset' option to return the middle of the client area
 // an option can be a static value, or a callback
 kibbles.skipper.setOption('padding_top', 50);
 // Set the 'offset' option to return the middle of the client area
 // an option can be a static value, or a callback
 kibbles.skipper.setOption('padding_bottom', 100);
 // Register our keys
 kibbles.skipper.addFwdKey("n");
 kibbles.skipper.addRevKey("p");
 kibbles.keys.addKeyPressListener(
 'u', function() { window.location = detail_url; });
 kibbles.keys.addKeyPressListener(
 'r', function() { window.location = detail_url + '#publish'; });
 
 kibbles.keys.addKeyPressListener('j', gotoNextPage);
 kibbles.keys.addKeyPressListener('k', gotoPreviousPage);
 
 
 kibbles.keys.addKeyPressListener('h', toggleComments);
 
 }
 window.onload = function() {keysOnLoadHandler();};
 </script>


<!-- code review support -->
<script src="http://www.gstatic.com/codesite/ph/14312546538119903951/js/code_review_scripts_20081023.js"></script>
<script type="text/javascript">
 
 // the comment form template
 var form = '<div class="draft"><div class="header"><span class="title">Draft comment:</span></div>' +
 '<div class="body"><form onsubmit="return false;"><textarea id="$ID">$BODY</textarea><br>$ACTIONS</form></div>' +
 '</div>';
 // the comment "plate" template used for both draft and published comment "plates".
 var draft_comment = '<div class="draft" ondblclick="$ONDBLCLICK">' +
 '<div class="header"><span class="title">Draft comment:</span><span class="actions">$ACTIONS</span></div>' +
 '<pre id="$ID" class="body">$BODY</pre>' +
 '</div>';
 var published_comment = '<div class="published">' +
 '<div class="header"><span class="title"><a href="$PROFILE_URL">$AUTHOR:</a></span><div>' +
 '<pre id="$ID" class="body">$BODY</pre>' +
 '</div>';

 function showPublishInstructions() {
 var element = document.getElementById('review_instr');
 if (element) {
 element.className = 'opened';
 }
 }
 function revsOnLoadHandler() {
 // register our source container with the commenting code
 var paths = {'svn168': '/trunk/demos/misc/blueprint.css'}
 _setup('waebric', 'svn626', paths, '4121009100e0b06571973fac732d9055',
 CR_BrowseIntegrationFactory);
 // register our hidden ui elements with the code commenting code ui builder.
 CR_registerLayoutElement('form', form);
 CR_registerLayoutElement('draft_comment', draft_comment);
 CR_registerLayoutElement('published_comment', published_comment);
 
 // register our source container with the commenting code
 // in this case we're registering the container and the revison
 // associated with the contianer which may be the primary revision
 // or may be a previous revision against which the primary revision
 // of the file is being compared.
 CR_registerSourceContainer(document.getElementById('lines'), 'svn168');
 
 CR_registerActivityListener(CR_ACTIVITY_TYPE.REVEAL_DRAFT_PLATE, showPublishInstructions);
 
 CR_registerActivityListener(CR_ACTIVITY_TYPE.REVEAL_PUB_PLATE, pubRevealed);
 CR_registerActivityListener(CR_ACTIVITY_TYPE.REVEAL_DRAFT_PLATE, draftRevealed);
 CR_registerActivityListener(CR_ACTIVITY_TYPE.DISCARD_DRAFT_COMMENT, draftDestroyed);
 
 
 
 
 
 
 
 
 
 var initilized = true;
 reloadCursors();
 }
 window.onload = function() {keysOnLoadHandler(); revsOnLoadHandler();};
</script>

<script type="text/javascript" src="http://www.gstatic.com/codesite/ph/14312546538119903951/js/dit_scripts_20081013.js"></script>

 
 <script type="text/javascript" src="http://www.gstatic.com/codesite/ph/14312546538119903951/js/core_scripts_20081103.js"></script>
 <script type="text/javascript" src="/js/codesite_product_dictionary_ph.pack.04102009.js"></script>
 
 
 
 </div>
<div id="footer" dir="ltr">
 
 <div class="text">
 
 &copy;2009 Google -
 <a href="/">Code Home</a> -
 <a href="/tos.html">Terms of Service</a> -
 <a href="http://www.google.com/privacy.html">Privacy Policy</a> -
 <a href="/more/">Site Directory</a> -
 <a href="/p/support/">Project Hosting Help</a>
 
 </div>
</div>
<script type="text/javascript">
/**
 * Reports analytics.
 * It checks for the analytics functionality (window._gat) every 100ms
 * until the analytics script is fully loaded in order to invoke siteTracker.
 */
function _CS_reportAnalytics() {
 window.setTimeout(function() {
 if (window._gat) {
 try {
 siteTracker = _gat._getTracker(CS_ANALYTICS_ACCOUNT);
 siteTracker._trackPageview();
 } catch (e) {}
 
 } else {
 _CS_reportAnalytics();
 }
 }, 100);
}
</script>

 
 
 <div class="hostedBy" style="margin-top: -20px;">
 <span style="vertical-align: top;">Hosted by</span>
 <a href="/hosting/">
 <img src="http://www.gstatic.com/codesite/ph/images/google_code_tiny.png" width="107" height="24" alt="Google Code">
 </a>
 </div>
 
 
 
 


 
 </body>
</html>

